[submodule "submodules/geocamUtil"]
	path = submodules/geocamUtil
	url = git://github.com/geocam/geocamUtilWeb.git
[submodule "submodules/xgds_data"]
	path = submodules/xgds_data
	url = https://babelfish.arc.nasa.gov/git/xgds_data
[submodule "submodules/xgds_map_server"]
	path = submodules/xgds_map_server
	url = https://babelfish.arc.nasa.gov/git/xgds_map_server
[submodule "submodules/submodules/xgds_image"]
	path = submodules/xgds_image
	url = https://babelfish.arc.nasa.gov/git/xgds_image
[submodule "submodules/xgds_notes"]
	path = submodules/xgds_notes
	url = https://babelfish.arc.nasa.gov/git/xgds_notes
[submodule "geocamTrackWeb"]
	path = geocamTrackWeb
	url = git://github.com/geocam/geocamTrackWeb.git
[submodule "submodules/geocamTrackWeb"]
	path = submodules/geocamTrackWeb
	url = git://github.com/geocam/geocamTrackWeb.git
[submodule "submodules/xgds_planner2"]
	path = submodules/xgds_planner2
	url = https://babelfish.arc.nasa.gov/git/xgds_planner2
[submodule "submodules/xgds_notes2"]
	path = submodules/xgds_notes2
	url = https://github.com/xgds/xgds_notes2.git
