{% extends 'dashboard_base.html' %}
{% load tz %}
{% block sitemenu-content-secondary %}
	{% include "sample_subnav.html" %}
{% endblock %}

 {% block cssExtras %}
 {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}xgds_sample/css/xgds_sample.css"></link>
 {% endblock cssExtras %}


{% block scripts %}
{{block.super}}
	<script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js"></script>
	<script type="text/javascript" src='{{ EXTERNAL_URL }}/handlebars/handlebars.min.js'></script>
    <script type="text/javascript" src="{{ STATIC_URL }}xgds_sample/js/sampleReview.js"></script>
    <!--  load handlebars -->
	{% for template_name, template in templates.items %}
		<script type="text/handlebars" id="template-{{template_name}}">
			{{template|safe}}
		</script>
	{% endfor %}
{% endblock scripts %}

{% block jsInit %} 
{{ block.super }}
{% endblock jsInit %} 

{% block otherJSInit %} 
{% endblock otherJSInit %} 

{% load xgds_sample_extras %}

{% block firstPackery %} 
<div class='item auto lockAspect' id='item_sample_create' tedata-isStamped="false">
	<div class="error-message upload-error"></div>
	<i class="icon-lock-open pinDiv"></i><br />
	<div id="save-status"> {{status}} </div>
	
	{% if messages %}
	<div id="messages">
  		{% for message in messages %}
    	<p>{{ message }}</p>
    	{% endfor %}
	</div>
	{% endif %}
	
	<div> <a href="../edit/{{ sample.label.number }}" class="mybutton">Edit sample info</a> </div>
	</br>
	<input type=hidden name=sampleId value="{{ sample.pk }}">
	<table>
		<tr>
			<th><label for="id_name">Name:</label></th>
			<td> {{ sample.name }}</td>
		</tr>
		<tr>
			<th><label for="id_type">Type:</label></th>
			<td> {{ sample.type.display_name }}</td>
		</tr>
		<tr>
			<th><label for="id_region">Region:</label></th>
			<td>{{ sample.region.name }}</td>
		</tr>
		<tr>
			<th><label for="id_resource">Resource:</label></th>
			<td>{{ sample.resource.name }}</td>
		</tr>
		<tr>
			<th><label for="id_collector">Collector:</label></th>
			<td>{{ sample.collector }}</td>
		</tr>
		<tr>
			<th><label for="id_number">Number:</label></th>
			<td>{{ sample.label.number }}</td>
		</tr>
		<tr>
			<th><label for="id_triplicate">Triplicate:</label></th>
			<td>{{ sample.triplicate }}</td>
		</tr>	
		<tr>
			<th><label for="id_year">Year:</label></th>
			<td> {{ sample.year }}</td>
		</tr>
		<tr>
			<th><label for="id_flight">Flight:</label></th>
			<td>{{ sample.flight.name }}</td>
		</tr>
		<tr>
			<th><label for="id_latitude">Latitude:</label></th>
			<td>{{ sample.user_position.latitude }}</td>
		</tr>
		<tr>
			<th><label for="id_longitude">Longitude:</label></th>
			<td>{{ sample.user_position.longitude }}</td>
		</tr>
		<tr>
			<th><label for="id_altitude">Altitude:</label></th>
			<td>{{ sample.user_position.altitude }}</td>
		</tr>
		<tr>
			<th><label for="id_collection_time">Collection time:</label></th>
			<td>{% timezone sample.collection_timezone %}{{ sample.collection_time|date:"Y-m-d H:i e" }}{% endtimezone %}</td>
		</tr>
	</table>
	{% csrf_token %}	
</div>
{{ block.super }}
{% endblock firstPackery %}
