{% extends 'dashboard_base.html' %}

{% block sitemenu-content-secondary %}
	{% include "sample_subnav.html" %}
{% endblock %}

 {% block cssExtras %}
 {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}xgds_sample/css/xgds_sample.css"></link>
 {% endblock cssExtras %}


{% block scripts %}
{{block.super}}
	<script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js"></script>
	<script type="text/javascript" src='{{ EXTERNAL_URL }}/handlebars/handlebars.min.js'></script>
    <script type="text/javascript" src="{{ STATIC_URL }}xgds_sample/js/sampleReview.js"></script>
		<script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js"></script>
	
    <!--  load handlebars -->
	{% for template_name, template in templates.items %}
		<script type="text/handlebars" id="template-{{template_name}}">
			{{template|safe}}
		</script>
	{% endfor %}
{% endblock scripts %}

{% block jsInit %} 
{{ block.super }}


{% endblock jsInit %} 

{% block otherJSInit %} 
{% endblock otherJSInit %} 

{% load xgds_sample_extras %}

{% block firstPackery %} 
<div class='item auto lockAspect' id='item_sample_create' tedata-isStamped="false">
	<div class="error-message upload-error"></div>
	<i class="icon-lock-open pinDiv"></i><br />
	<div id="save-status"> {{status}} </div>
	
	{% if messages %}
	<div id="messages">
  		{% for message in messages %}
    	<p>{{ message }}</p>
    	{% endfor %}
	</div>
	{% endif %}

	<form class="updateSample" id="updateSample" action="{% url 'create_sample' %}" method="post" enctype="multipart/form-data">
		<input type=hidden name=sampleId value="{{ sample.pk }}">
		<table>
			<tr>
				<th><label for="id_label_number">Label Number:</label></th>
				<td><input id="id_label_number" maxlength="512" name="labelNumber" type="text" value="{{labelNum}}" readonly /></td>
			</tr>
			<tr class="sample_name_row">
				<th><label for="id_name">Name:</label></th>
				<td><input id="id_name" maxlength="512" name="name" type="text" placeholder="i.e NC16B001A"/></td>
			</tr>
			{{ form.as_table }}
			<tr>
				<th><label for="id_collection_time">Collection Time:</label></th>
				<td><input id="id_collection_time" maxlength="512" name="collection_time" type="text" /> </td>
			</tr>
			<tr>
				<th><label for="id_latitude">Latitude:</label></th>
				<td><input id="id_latitude" maxlength="512" name="latitude" type="text" placeholder="latitude"/></td>
			</tr>
			<tr>
				<th><label for="id_latitude">Longitude:</label></th>
				<td><input id="id_longitude" maxlength="512" name="longitude" type="text" placeholder="longitude"/></td>
			</tr>	
		</table>
		{% csrf_token %}
		<input type="submit" value="update"/> 
	</form>
</div>
{{ block.super }}
{% endblock firstPackery %}
