{% extends 'base.html' %}
{% load static %}
{% block sitemenu-content-secondary %}
{% include "xgds_planner2/planner2_subnav.html" %}
{% endblock %}

{% block content %}
<p>
<h6>Add Crew Mass</h6>
<p>
For Sextant to calculate a traverse we have to specify the mass of the crewmember executing the EVA.<br/>
</p>
<form action="{% if pk %}{% url 'planner2_re_save_ev' pk %}{% else %}{% url 'planner2_save_ev' %}{% endif %}" method="post">
<table class="table-striped">
{{ form.as_table }}
</table>
<p>
<input type='hidden' id="id_pk" value="{{pk}}">
<input class="btn btn-primary" type="submit" value="Save">
</p>
</form>
</p>

{% if evList %}
<h6>Existing Crew Mass</h6>
<table class="table-striped">
<thead class="bg-primary text-white">
<th>Person</th>
<th>Mass (kg)</th>
</thead>
{% for ev in evList %}
<tr>
<td><a href="{% url 'planner2_re_edit_ev' ev.id %}">{{ ev.user.first_name }}&nbsp;{{ ev.user.last_name }}</a></td>
<td style="text-align:right;">{{ ev.mass }}</tr>
{% endfor %}
</table>
{% endif %}

{% endblock content %}

{% block scripts %}
	{{ block.super }}
	{{ form.media }}
{% endblock scripts %}

{# block cssExtras #}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}bootstrap-tagsinput/dist/bootstrap-tagsinput.css"></link>
	<link rel="stylesheet" type="text/css" href="{% static 'xgds_core/css/typeahead.css' %}"></link>
{# endblock cssExtras #}