<!doctype html>
{% load pipeline %}
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<meta charset="utf-8">
    <title>
    {% block title %}{% block siteSection %}{% endblock siteSection%} {% block siteTitle %}BASALT{% endblock siteTitle%}{% endblock title%}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  </head>
  <body>
  
  <h2>
  <p>
  	<a href="/xgds_planner2/plan/export/929eba50-4532-4d54-b6b3-af4af41c7e47/MD2_EVA2_Stn3_Stn4_A.kml">TODAY'S PLANNED TRAVERSE</a></html>
  </p>
  <p>
  	<a href="/track/trackIndex.kml">TRACK POSITIONS</a>
  </p>
</h2>
    
  
  </body>
