<!doctype html>
{% load pipeline %}
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<meta charset="utf-8">
    <title>
    {% block title %}{% block siteSection %}{% endblock siteSection%} {% block siteTitle %}BASALT{% endblock siteTitle%}{% endblock title%}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  </head>
  <body>
  
  <h2>
  {% if messages %}
	 <div  id="messages" class="error">
	    <ul class="messages" id="errorMessage" style="color:red;">
	    {% for message in messages %}
	        <li>{% if message.tags %} {{ message.tags }}: {% endif %}  {{ message }}</li>
	    {% endfor %}
	    </ul>
	</div>
	{% endif %}
  <p>
  	<a href="/basaltApp/activePlan/EV1">EV1 PLANNED TRAVERSE</a></html>
  </p>
  <p>
  	<a href="/basaltApp/activePlan/EV2">EV2 PLANNED TRAVERSE</a></html>
  </p>
  <p>
  	<a href="/track/trackIndex.kml">TRACK POSITIONS</a>
  </p>
</h2>
    
  
  </body>
