<!doctype html>
{% load pipeline %}
{% load staticfiles %}
{% load basename %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<meta charset="utf-8">
    <title>
    {% block title %}{% block siteSection %}{% endblock siteSection%} {% block siteTitle %}BASALT{% endblock siteTitle%}{% endblock title%}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  </head>
  <body>
  
  <h6>
  {% if messages %}
	 <div  id="messages" class="error">
	    <ul class="messages" id="errorMessage" style="color:red;">
	    {% for message in messages %}
	        <li>{% if message.tags %} {{ message.tags }}: {% endif %}  {{ message }}</li>
	    {% endfor %}
	    </ul>
	</div>
	{% endif %}
	
{% for letter, plankml in letter_plans %}
  <p>
  	<strong>{{letter}}: </strong>
  	<a href="{{ plankml }}" target="_blank" download>{{ plankml|basename }}</a></html>
  </p>
{% endfor %}
  <p>
  	<a href="/basaltApp/rest/wrist.kml" target="_blank" download>WORKING TRACK POSITIONS</a>
  </p>
  <p>
  	<a href="/basaltApp/rest/hvnp_so2_link.kml" target="_blank" download>AIR QUALITY</a>
  </p>
</h6>
    
  
  </body>
