{% extends "base.html" %}
{% block siteSection %}Recorder Status{% endblock %}

{% block contents %}
<p>
<h3>Server  Status</h3>
<b>Load Average:</b>
<table>
  <tr>
    <td>1 minute</td>
    <td>5 minutes</td>
    <td>15 minutes</td>
  </tr>
  <tr>
    <td align=center bgcolor={{ load_status.load1mColor }}>{{ load_status.load1m }}</td>
    <td align=center bgcolor={{ load_status.load5mColor }}>{{ load_status.load5m }}</td>
    <td align=center bgcolor={{ load_status.load15mColor }}>{{ load_status.load15m }}</td>
  </tr>
</table>

<h3>Subsystem Status</h3>

<div id="subsystemStatus"></div>
<p/> 
Status reported at: {{ status_timestamp }}
<p/>
<!-- <table>
	<tr>
		<td>Domain</td>
		<td>Status</td>
		<td>Timestamp</td>
	</tr>
	{% for s in statuses %}
	<tr>
		<td>{{ s.domain }}</td>
		<td>{{ s.state }}</td>
		<td>{{ s.timestamp }}</td>
	</tr>
	{% endfor %}
</table> -->
{% endblock %}

{% block cssExtras %}
  {{ block.super }}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}basaltApp/js/subsystemStatusWidget.js" type="text/javascript"></script>
{% endblock %}

{% block jsSetVars %}
  {{ block.super }}
  var settings = {
      'BASALT_APP_SUBSYSTEM_STATUS_URL': '{{ BASALT_APP_SUBSYSTEM_STATUS_URL }}'
  };
{% endblock %}

{% block jsInit %}
  {{ block.super }}
  $(function() {
      var widget = new basaltApp.SubsystemStatusWidget($('#subsystemStatus'));
      widget.update();
  });
{% endblock %}
