{% extends "MapViewBase.html" %}
{% load siteFrames %}
{% load static %}

{% block contents %}
<script type="x-template/underscore" id="application_contents">
<div id="gridstack_buttonrow" class="row justify-content-between  mr-2">
		<div class="col-10">
			{% block buttonrowLeft %}
			{% if settings.XGDS_SSE %}
			<div id="conditionDiv" class="alert alert-info ml-2"  role="alert">
				Waiting for status ...
 			</div>
			{% endif %}
			{% endblock buttonrowLeft %}
		</div>
		<div>
			{% block buttonrowRight %}
			{% endblock buttonrowRight %}
			<button id="gridstack_toggleAll" class='btn btn-primary fa fa-lock my-1' role='button' style="color:white;" onclick="xgds_gridstack.handleToggleAllClick();"></button>
		    <button id="gridstack_reset" class='btn btn-primary my-1' role='button' style="color:white; max-height:1.8rem;" onclick="xgds_gridstack.resetGrid(window.location.href);">Reset Layout</button>
        </div>
</div>
 <div class="grid-stack" id="container">
    	<div id="map-gridstack-item" class="grid-stack-item"  data-gs-x="0" data-gs-y="0" data-gs-width="10" data-gs-height="8" >
			<div id="map-gridstack-item-content"  class="grid-stack-item-content" >
				<ul class="nav justify-content-end">
					<i class="fa fa-lock pinDiv gray-light"></i>
				</ul>
    			<div id="overmap" class="mb-1 mt-negative-1rem"><form>{% siteframe_form %}</form></div>
    			<div id="map"></div>
    			<div id="postmap" ></div>
    			<div id="postpostmap" ></div>
    		</div>
    	</div>
    	<div id="layers-gridstack-item" class="grid-stack-item"  data-gs-x="10" data-gs-y="0" data-gs-width="2" data-gs-height="8" >
    		<div id="layers-gridstack-item-content" class="grid-stack-item-content" >
				<ul class="nav justify-content-end">
    				<i class="fa fa-unlock-alt pinDiv gray-light"></i>
				</ul>
	        	<div id="overlayers" class="mt-negative-1rem"></div>
	        	<div id="layers"></div>
	    	</div>
		</div>
    </div>
</script>

<div id="application">
</div>

{% endblock %}

{% block jsInit %}
	
	{% block jsInitPreApp %}
	var preloadImageList = ["{% static 'basaltApp/icons/ev1_pointer.png' %}", 
							"{% static 'basaltApp/icons/ev2_pointer.png' %}",
							"{% static 'basaltApp/icons/ev1_circle.png' %}", 
							"{% static 'basaltApp/icons/ev2_circle.png' %}",
							"{% static 'basaltApp/icons/ev1_stop.png' %}", 
							"{% static 'basaltApp/icons/ev2_stop.png' %}"
							];
	trackSse.preloadedIcons = $.preloadImages(preloadImageList);
	{% endblock jsInitPreApp %}
	
	$(function(){
		siteFrames = {% siteframes_dict %};
    	app.start(appOptions);
    	app.vent.on("mapSearch:drewFeatures", function(e) {
        	app.vent.trigger('mapSearch:fit');
            });
        {% block preLayout %}
		{% endblock preLayout %}
		
    	xgds_gridstack.initializeGridstack({width:12});
    	{% if settings.XGDS_SSE %}
    	condition.initialize();
    	trackSse.initialize();
    	{% endif %}
    	
    	{% block otherJSInit %}
		{% endblock otherJSInit %}
	});
	
{% endblock %}

{% block scripts %}
{{ block.super }}
	{% load sse %}
	{% setup_sse %}
	<script type="text/javascript" src="{% static 'xgds_core/js/conditionUtils.js' %}"></script>
	<script type="text/javascript" src="{% static 'basaltApp/js/basaltConditionUtils.js' %}"></script>
	<script type="text/javascript" src="{% static 'geocamTrack/js/trackSseUtils.js' %}"></script>
	<script type="text/javascript" src="{% static 'geocamTrack/js/olTrackSseUtils.js' %}"></script>
	<script type="text/javascript" src="{% static 'basaltApp/js/basaltTrackSseUtils.js' %}"></script>
{% endblock scripts %}
    