{% block sitemenu-content-secondary %}
{% load nav %}
		<li class='nav-item {% currentnav planner2_index planner2_planCreate planner2_planImport*%}'>
			<a class="nav-link {% currentnav planner2_index planner2_planCreate planner2_planImport*%} " href="{% url 'planner2_index' %}"> {{settings.XGDS_PLANNER_PLAN_MONIKER}}s </a>
		</li>
		<li class='nav-item {% currentnav xgds_core_flownFlights xgds_core_manage xgds_core_startFlight xgds_core_stopFlight planner2_startPlan planner2_stopPlan xgds_core_group_flight_summary xgds_core_addGroupFlight%}'>
			<a class="nav-link {% currentnav xgds_core_flownFlights xgds_core_manage xgds_core_startFlight xgds_core_stopFlight planner2_startPlan planner2_stopPlan xgds_core_group_flight_summary xgds_core_addGroupFlight %}" href="{% url 'xgds_core_flownFlights' %}">{{settings.XGDS_CORE_FLIGHT_MONIKER}}s</a>
		</li>
		<li class='nav-item {% currentnav planner2_edit_ev %}'>
			<a class="nav-link {% currentnav planner2_edit_ev %}" href="{% url 'planner2_edit_ev' %}"> Crew Mass </a>
		</li>
		<!-- 
	    <li class='nav-item'><a class='nav-link {% currentnav planner2_help %}' href="{% url 'planner2_help' %}">Planner Help</a></li>
	     -->
		{% if plan_json %}
			<li class='nav-item {% currentnav planner2_edit %}' ><a class="nav-link {% currentnav planner2_edit %}"> Edit {{ plan_name }}</a></li>
		{% endif %}
{% endblock %}
