{% load url from future %}
{% block sitemenu-content-secondary %}
{% load nav %}
<div class="sitemenu-nav-secondary">
	<nav class="subnav">
	<ul>
		<li {% currentnav planner2_index %}><a href="{% url 'planner2_index' %}"> List {{settings.XGDS_PLANNER2_PLAN_MONIKER}}s </a></li>
		<li {% currentnav planner2_planCreate %}><a href="{% url 'planner2_planCreate' %}"> Create {{settings.XGDS_PLANNER2_PLAN_MONIKER}} </a></li>
		<li {% currentnav planner2_manage planner2_startFlight planner2_stopFlight planner2_startPlan planner2_stopPlan %}><a href="{% url 'planner2_manage' %}">Manage Schedule</a></li>
		<li {% currentnav planner2_edit_ev %}><a href="{% url 'planner2_edit_ev' %}"> EV People </a></li>
		<!-- 
	    <li {% currentnav planner2_help %}><a href="{% url 'planner2_help' %}">Planner Help</a></li>
	     -->
		{% if plan_json %}
			<li {% currentnav planner2_edit %} ><a> Edit {{ plan_name }}</a></li>
		{% endif %}
	</ul>
	</nav>
</div>
{% endblock %}
