{% load i18n %}{% autoescape off %}
<p>
{% blocktrans %}You're receiving this e-mail because you requested a password reset for your user account
on the {{site_name}} xGDS server.{% endblocktrans %}
</p>
<p>
{% trans "Please go to the following page and choose a new password:" %}</p>
<p>
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
</p>
<p>
{% trans "In case you've forgotten, your <em>username</em> is:" %} <strong>{{ user.username }}</strong>
</p>
<p>
{% trans "Thanks for using our ground data system!" %}
</p>
<p>
{% blocktrans %}The xGDS team{% endblocktrans %}
</p>
{% endautoescape %}
