{% extends 'xgds_core/groupFlightSummary_base.html' %}

{% block groupFlightContents %}
{% if groupFlight.videoEpisode %}
<a href="{{ groupFlight.view_url }}" target="" class="font-weight-bold">Video</a>
{% endif %}
{% with 'flight__group:'|add:group_pk as evaFilter %}
<a href="{% url 'search_xgds_notes_map_filter' evaFilter %}" target="_blank" class="font-weight-bold mb-2">All Notes</a>
{% endwith %}
{% endblock groupFlightContents %}

{% block flightContents %}

{% if flight.hasVideo %}
<tr>
<td>Video
</td>
<td><a href="{{ flight.view_url }}" target="">Video</a></td>
</tr>
{% endif %}
{% if flight.basaltapp_basaltimageset_related.exists %}
<tr>
<td>Photos</td>
<td><a href="{% url 'search_map_object_filter' 'Photo' theFilter %}" target="_blank">{{flight.basaltapp_basaltimageset_related.count}}</a></td>
</tr>
{% endif %}
{% if flight.basaltapp_basaltnote_related.exists %}
<tr>
<td>Notes</td>
<td><a href="{% url 'search_xgds_notes_map_filter' theFilter %}" target="_blank">{{flight.basaltapp_basaltnote_related.count}}</a></td>
</tr>
{% endif %}
{% if flight.basaltapp_basaltsample_related.exists %}
<tr>
<td>Samples</td>
<td><a href="{% url 'search_map_object_filter' 'Sample' theFilter %}" target="_blank">{{flight.basaltapp_basaltsample_related.count}}</a></td>
</tr>
{% endif %}
{% if flight.pxrfdataproduct_related.exists %}
<tr>
<td>pXRF Readings</td>
<td><a href="{% url 'search_map_object_filter' 'pXRF' theFilter %}" target="_blank">{{flight.pxrfdataproduct_related.count}}</a></td>
</tr>
{% endif %}
{% if flight.asddataproduct_related.exists %}
<tr>
<td>ASD Readings</td>
<td><a href="{% url 'search_map_object_filter' 'ASD' theFilter %}" target="_blank">{{flight.asddataproduct_related.count}}</a></td>
</tr>
{% endif %}
{% if flight.ftirdataproduct_related.exists %}
<tr>
<td>FTIR Readings</td>
<td><a href="{% url 'search_map_object_filter' 'FTIR' theFilter %}" target="_blank">{{flight.ftirdataproduct_related.count}}</a></td>
</tr>
{% endif %}
{% endblock flightContents %}


